/* Custom Fonts - Lexend Giga & Red Hat Display */

@font-face {
  font-family: 'Lexend Giga';
  src: url('/assets/fonts/LexendGiga-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('/assets/fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

/* Apply fonts to body and headings */
:root {
  --font-primary: 'Red Hat Display', sans-serif;
  --font-heading: 'Lexend Giga', sans-serif;
}

